[submodule "components/image/AnimatedGIF"]
	path = components/image/AnimatedGIF
	url = https://github.com/bitbank2/AnimatedGIF.git
[submodule "components/image/PNGdec"]
	path = components/image/PNGdec
	url = https://github.com/bitbank2/PNGdec.git
[submodule "components/image/JPEGDEC"]
	path = components/image/JPEGDEC
	url = https://github.com/bitbank2/JPEGDEC.git
[submodule "components/font_render/mcufont"]
	path = components/font_render/mcufont
	url = https://github.com/mcufont/mcufont.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
