[submodule "components/image/EmbeddedImage/AnimatedGIF"]
	path = external-deps/AnimatedGIF
	url = https://github.com/gifbadge/AnimatedGIF.git
[submodule "components/image/EmbeddedImage/PNGdec"]
	path = external-deps/PNGdec
	url = https://github.com/bitbank2/PNGdec.git
[submodule "non-idf-components/font_render/mcufont"]
	path = external-deps/mcufont
	url = https://github.com/mcufont/mcufont.git
[submodule "lv_font_conv"]
	path = lv_font_conv
	url = https://github.com/lvgl/lv_font_conv.git
[submodule "non-idf-components/FreeRTOS-Kernel"]
	path = external-deps/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel/
[submodule "non-idf-components/Unity"]
	path = external-deps/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "components/image/EmbeddedImage/JPEGDEC"]
	path = external-deps/JPEGDEC
	url = https://github.com/bitbank2/JPEGDEC.git
[submodule "non-idf-components/npmx/npmx"]
	path = external-deps/npmx/npmx
	url = https://github.com/NordicSemiconductor/npmx.git
[submodule "idf-components/tinyusb"]
	path = idf-components/tinyusb
	url = https://github.com/gifbadge/tinyusb.git
[submodule "external-deps/lvgl"]
	path = external-deps/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "external-deps/Unity"]
	path = external-deps/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "external-deps/md5-c"]
	path = external-deps/md5-c
	url = https://github.com/MilchRatchet/md5-c.git
[submodule "external-deps/JPEGENC"]
	path = external-deps/JPEGENC
	url = https://github.com/bitbank2/JPEGENC.git
