menu "Project Configuration"
    choice DISPLAY_TYPE
        prompt "LCD Type"
        default LCD_1_28_GC9A01
        help
            Select the LCD type to build for
        config LCD_1_28_GC9A01
            bool "1.28inch (GC9A01)"
            select GC9A01
            select IMAGE_BIG_ENDIAN
        config LCD_2_1_ST7706
            bool "2.1inch (ST7706)"
            select ST7706
    endchoice
    config GC9A01
        bool
    config ST7706
        bool
    config IMAGE_BIG_ENDIAN
        bool
endmenu